<ion-view title="Series">
<ion-content class="has-header">
    <div class="row">
            <div class="col col-33">
              <img ng-src="http://beta.tvlive.io{{details.channelImageURL}}" alt="{{details.channel}}">          
              <p><small>{{details.st}} - {{details.et}}</small></p>                        
            </div>    
            <div class="col col-66">
                <div>
                  <h4 class="content-title">{{details.series.serieTitle}}</h4>           
                  <h5>{{details.series.episode.episodeTitle}}</h5>
                </div>

                <div ng-show="details.perCentTimeElapsed" class="progress-bar">
                  <progress max="100" value="{{details.perCentTimeElapsed}}"></progress>
                </div>                                            
            </div>
    </div>  
    <div class="row">
      <div ng-show="details.series.episode.episodePlot" class="col content-description">  
        <h5>{{details.series.episode.episodePlot}}</h5>
      </div>
    </div>

    <div class="row">
        <div class"col" ng-show="details.series.episode.seasonNumber">
          <h5>Season {{details.series.episode.seasonNumber}}</h5>
        </div>      
    </div>
    <div class="row">
        <div class"col" ng-show="details.series.episode.episodeNumber">
          <h5>Episode Number {{details.series.episode.episodeNumber}}</h5>
        </div>      
    </div>
    <div class="row">
        <div class"col" ng-show="details.series.episode.totalNumber">
          <h5>Total Number - {{details.series.episode.totalNumber}}</h5>
        </div>      
    </div>
  </ion-content>
</ion-view>
