<ion-view title="TV Providers">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <ion-item href="#/app/content-today/series/{{provider}}">
        Series today
      </ion-item>
    <ion-item href="#/app/content-today/film/{{provider}}">
        Films today
      </ion-item>
      <ion-item href="#/app/content-today/program/{{provider}}">
        Programs today
      </ion-item>
      <ion-item href="#/app/channels/{{provider}}">
        Channels
      </ion-item>
  </ion-content>
</ion-view>
