<ion-view title="TV Provider">
  <ion-content class="has-header">
    <!-- <div class="list">
      <a ng-repeat="provider in providers"  class="item item-icon-left" href="#/app/options-by-providers/{{provider.name}}">
        <i class="icon ion-monitor"></i>
        {{provider.name}}
      </a>
    </div> -->
    <div class="row">
      <div class="col col-100">
        <a href="#/app/options-by-providers/Freeview">
          <img src="../img/freeview_icon.png">
        </a>        
      </div>      
    </div>
    <div class="row">
      <div class="col col-100">
        <a class="disabled" href="#/app/options-by-providers/Sky & Cable">
          <img src="../img/sky_icon.jpeg">
        </a>                
      </div>      
    </div>
  </ion-content>
</ion-view>
