<ion-view title="{{type}}">
    <ion-content class="has-header">
     <div class="row" ng-show="error">
            <div class="col">
              <h3>No {{type}} right now on the TV</h3>                      
            </div>    
      </div>  
      <ion-list delayed-scroll scroll-to="{{data.scrollTo}}" total-items="{{data.totalItems}}">      
       <a id="{{$index}}" ng-repeat="tvContent in data.tvContents" class="item" ng-class="{'tv-content-passed':tvContent.passed}"  href="#/app/details/{{tvContent.id}}/{{tvContent.type}}">          
            <div class="row">
              <div class="col col-33">
                <img ng-src="http://beta.tvlive.io{{tvContent.channelImageURL}}" alt="{{tvContent.channel}}">          
                <p><small>{{tvContent.st}} - {{tvContent.et}}</small></p>                        
              </div>    
              <div class="col col-66">
                  <div>
                    <h3 class="content-title">{{tvContent.title}}</h3>           
                  </div>
                  <div ng-show="tvContent.perCentTimeElapsed" class="progress-bar" focus="true">
                    <progress max="100" value="{{tvContent.perCentTimeElapsed}}"></progress>
                  </div>                                            
              </div>
            </div>  
     </a> 
    </ion-list>   
  </ion-content> 
</ion-view>
