<ion-view title="TV Content">
    <ion-content class="has-header">
     <div class="row" ng-show="error">
            <div class="col">
              <h3>No content available</h3>                      
            </div>    
      </div>  
      <ion-list delayed-scroll scroll-to="{{data.scrollTo}}" total-items="{{data.totalItems}}">      
       <a id="{{$index}}" ng-repeat="tvContent in data.tvContents" class="item" ng-class="{'tv-content-passed':tvContent.passed}"  href="#/app/details/{{tvContent.id}}/{{tvContent.type}}">          
            <div class="row">
              <div class="col col-33">
                <img ng-src="http://beta.tvlive.io{{tvContent.channelImageURL}}" alt="{{tvContent.channel}}">          
                <p><small>{{tvContent.st}} - {{tvContent.et}}</small></p>                        
              </div>    
              <div class="col col-66">
                  <div ng-show="tvContent.type == 'Series'">
                    <span class="span-series">{{tvContent.type}}</span>          
                  </div>  
                  <div ng-show="tvContent.type == 'Program'">
                    <span class="span-program">{{tvContent.type}}</span>          
                  </div>  
                  <div ng-show="tvContent.type == 'Film'">
                    <span class="span-film">{{tvContent.type}}</span>          
                  </div>
                  <div>
                    <h3 class="content-title">{{tvContent.title}}</h3>           
                    <div ng-show="tvContent.type == 'Series'">
                      <p><small>{{tvContent.series.episodeTitle}}</small></p>           
                      <p>    
                          <span ng-show="tvContent.series.episodeNumber">
                            <small>Episode {{tvContent.series.episodeNumber}}</small>        
                          </span>
                          <span ng-show="tvContent.series.seasonNumber">
                            <small>Season {{tvContent.series.seasonNumber}}</small>
                          </span>
                      </p>
                    </div>
                  </div>
                  <div ng-show="tvContent.perCentTimeElapsed" class="progress-bar" focus="true">
                    <progress max="100" value="{{tvContent.perCentTimeElapsed}}"></progress>
                  </div>                                            
              </div>
            </div>  
     </a> 
    </ion-list>   
  </ion-content>
</ion-view>
