platforms
*.class
target
logs

*/*dependency-reduced-pom.xml

*.jar
*.war
*.ear

*.ipr
*.iws
*.iml
**/*.iml
.idea
*.swp

.DS_Store
**/*.DS_Store

*/**/lib_managed/*
**/lib_managed/*
lib_managed

*/**/target/*
**/target/*
target

**/lib/*
*.classpath
*.project
**/*.settings
.project
.settings
.classpath
.sass-cache

.ensime*

**/codekit-config.json

.cache
.target
build.sbt
RUNNING_PID
