/* Empty. Add your own CSS if you like */
.row {
	text-align: center;
}

.content {
border: dashed;	
}

.title-content {
border: dashed;		
}

.span-series {
	text-align: center;
	background-color: #58ACFA;
	color: #ffffff;
	font-weight: 500;
	padding: 3px 50px;		
}

.span-program {
	text-align: center;
	background-color: #FE9A2E;
	color: #ffffff;
	font-weight: 500;
	padding: 3px 40px;		
}

.span-film {
	text-align: center;
	background-color: #A9F5D0;
	color: #ffffff;
	font-weight: 500;
	padding: 3px 55px;		
}

.content-title {
	padding-top: 10px;
}

.content-description {
	text-align: justify;
	background-color: #A9F5D0;
}
.film-actor {
	text-align: left;
}

.progress-bar {
	padding-left: 15px;
	padding-right: 15px;
}

.tv-content-passed {
	background-color: #E6E6E6;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}
